.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.searchBar {
    margin-bottom: 20px;
    width: 28%;
    height: 38px;
    border-radius: 6px 6px 3px 3px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 12px 20px;
    outline: none;
    cursor: pointer;
    transition: border-bottom-color 0.15s ease-in;
    background-color: #C9ADA7;

}

.searchBar:hover,
.searchBar:focus {
    border-bottom-color: #e1e1e1;
}